    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");

    :root {
        --main-bg-color: #bd6418;
        --font1: "Baloo Bhaina 2", cursive;
        --font2: "Roboto", sans-serif;
    }

    .centre {
        text-align: center;
    }

    .font1 {
        font-family: var(--font1);
    }

    .font2 {
        font-family: var(--font2);
    }

    .max-width-1 {
        max-width: 80vw;
    }

    .max-width-2 {
        max-width: 60vw;
    }

    .m-auto {
        margin: auto;
    }

    .btn {
        padding: 3px 5px;
        border: 3px solid black;
        font-size: 16px;
        margin-top: 20px;
        font-family: var(--font2);
        border-radius: 20px;
    }

    .form-input {
    padding: 3px 5px;
    border: 3px solid black;
    font-size: 16px;
    margin-top: 20px;
    font-family: var(--font2);
    border-radius: 20px;
    }